[2017-07-29 19:15] seanvree opened #1 "Feature: Auto highlight/text color ERROR "RED""
Feature:  Auto highlight/text color ERROR "RED"

[2017-07-29 19:16] seanvree opened #2 "Feature: Auto Scroll to bottom"
Feature:  Auto Scroll to bottom

[2017-07-29 19:17] seanvree opened #3 "BUG: Only first DIV Collapsable tables function correctly."
Feature: Collapsible tables

Some way to collapse tables so data from all logs isn't loaded initially.

[2017-07-29 19:53] elmerfdz opened #4 "[Issue] Logarr not pulling Nzbhydra logs"
![image](https://user-images.githubusercontent.com/22656503/28747829-071e94b6-74a0-11e7-8d2c-f65ffd484277.png)

[2017-07-29 20:17] seanvree commented on #4
@elmerfdz  -

I can't reproduce on my machine. it's working for me.

![image](https://user-images.githubusercontent.com/8906637/28747952-08ac4a70-7460-11e7-98a2-88b854f09e24.png)

What OS are you using?

Try replacing  the < ""> with < ' '>

example:

[code]
 to

[code]

[2017-07-29 20:39] seanvree commented on #4
also, check PERMISSIONS.

[2017-07-29 21:27] seanvree commented on #4
@elmerfdz   - it's a permissions issue buddy.

[2017-07-29 21:27] #4 closed

[2017-07-29 22:33] seanvree commented on #2
something to do with this:

[code]

[2017-07-30 00:12] jonfinley commented on #2
toying with the following code

[code]

[2017-07-30 00:52] seanvree commented on #2
@jonfinley  it's something with the "R" in  $file_ptr     = fopen ( $filename, "r" );

Also, I know the double quotation vs single quotations play a part too.

[2017-07-30 01:37] leram84 commented on #3
would be good to have 3 states instead of two: collapsed, expanded, and LARGE... so u can blow up a window full page if your working on a specific log and need more room to work

[2017-07-30 01:56] seanvree commented on #2
ADDED!

437ded7a1d7ace0f4a9cf6acf910387c71fbd5e1

Thanks @Causefx

[2017-07-30 01:56] #2 closed

[2017-07-30 02:13] seanvree commented on #3
@leram84  whoa buddy, sheesh.

Ha, JK, Yeah, for starters, I was just thinking something simple  - so the default page would show each "logger" and then a simple link or "activate" button or something that would then show the table. ...

But yeah, we on the same page. SO GET TO WORK!

[2017-07-30 04:14] seanvree opened #6 "Feature: Thin Scroll bars"
Feature: Thin scroll bars

[2017-07-30 04:27] jonfinley commented on #3
I'm thinking something like this: http://jsfiddle.net/ThinkingStiff/NXB2g/

[2017-07-30 05:02] seanvree commented on #3
DUDE! YES!

[2017-07-30 06:44] seanvree commented on #3
@jonfinley  I did it!

Incoming!

[2017-07-30 07:34] seanvree opened #7 "FEAT: Search function"
To DO:

 - Add # of results from search output below search box
- "ENTER" key to search?
- How to clear search result highlighting w/o refreshing the page

[2017-07-30 11:50] elmerfdz commented on #4
thanks for looking into this, it needed the single quotes on Windows, On Ubuntu "C:\nzbhydra\nzbhydra.log" or  'C:\nzbhydra\nzbhydra.log' either works

[2017-07-30 17:37] jonfinley commented on #3
So doing research, because I don't really remember my JS classes. Every Id needs to be unique in the fact that we basically need a `more1` `more2` `more3` for every single time it generates per log.

see this link, bottom comment: https://stackoverflow.com/questions/29630109/jquery-affect-all-instances-of-a-table-id

[2017-07-30 23:22] seanvree opened #8 "BUG: HMTL data from table is inherited on main PHP page"
BUG:

If one of the loggers contains certain HTML in their LOG - the main PHP wrapper will inherit that code making the parent PHP page display incorrectly. (see screenshot below)

Workaround:
Determine where the parent PHP page starts displaying incorrectly, and manually CLEAR the target offending LOG file.  You DO NOT need to delete the log, just open the log file and delete it's contents.

NOTE

[2017-08-01 05:47] seanvree commented on #6
added:

https://github.com/seanvree/logarr/pull/10

[2017-08-01 05:47] #6 closed

[2017-08-01 05:53] seanvree opened #11 "BUG: no leading zero in HH:MM:SS"
FEATURE: Add local server time display - top right.

[2017-08-01 06:05] seanvree commented on #11
REF: https://stackoverflow.com/questions/20269657/right-way-to-get-web-server-time-and-display-it-on-web-pages

[2017-08-01 14:28] seanvree commented on #3
@jonfinley okay, yeah, I understand the issue.  I just have NO IDEA how to implement that into the magic that @Causefx dropped on us.

I tested the code ref below and it works, but you have to have separate DIV IDs for each logger...I"m assuming there's away to assign a class to each DIV automatically?  Way over my head.

https://api.jquery.com/addclass/

[2017-08-01 18:08] seanvree commented on #11
Initial swag:

![image](https://user-images.githubusercontent.com/8906637/28839846-cef7f3a0-76a9-11e7-85ff-854b4f1fce2d.png)

[2017-08-02 11:39] seanvree commented on #11
Added to DEVELOP:

0109721eaf64a7169f409e777df44154249d3c6b

[2017-08-02 11:39] seanvree commented on #1
Added to DEVELOP:

0109721eaf64a7169f409e777df44154249d3c6b

[2017-08-02 11:39] #1 closed

[2017-08-06 10:30] seanvree commented on #7
Initial Search function added. However, it is NOT searching the collapsable DIVs

REF:

https://osvaldas.info/real-time-search-in-javascript

[2017-08-06 13:03] seanvree commented on #11
Complete. Pushed to MASTER

[2017-08-07 21:13] jonfinley opened #15 "Move config out of index.php"
Create a config.ini for index.php to import

[2017-08-08 02:07] seanvree opened #16 "Add WIKI"
**Subjects:**

**USAGE**
1 - Ensure your logs are rolling over !!!!
2 - Ensure your logs are rolling over !!!!
3 - log files size
4 - Auto update
a.  update interval - NO LESS THAN 10 seconds!
b.  size of logs has huge impact.
c. browser UI/DOM LOCKED during update/search - by design.
4 - sensitive data in logs / exposing to WAN

**CONFIG**

- PHP

 - Cloning repo to SUB DIR of webserver

 - Symli

[2017-08-08 02:07] seanvree commented on #16
@jonfinley  - add any subjects you feel are necessary.

[2017-08-08 02:14] seanvree commented on #11
Hey @causefx ,  that code you gave me doesn't show the leading zero before hours, min or seconds:

so it appears like this:
22:7:1

which should be:
22:07:01

Any ideas?

Current code:

JS:
[code]

HTML:

[code]

[2017-08-08 03:19] causefx commented on #11
[code]

[2017-08-08 03:53] jonfinley commented on #16
- Protecting via nginx with .htaccess

- Protecting via org auth

Sent from my iPhone

[2017-08-08 04:18] seanvree commented on #11
@causefx  - help a noob out. HA!

What's the full .js file supposed to look like?  Where do I put that block in?

[2017-08-08 05:29] seanvree commented on #16
@jonfinley

Roger, I think we might add in a sub section to the wiki that would address webserver specific situations. But, yes, good call.

[2017-08-08 06:56] seanvree commented on #11
@causefx  yup I'm a noob. I tried every combo and I can't get it to work. HALLLLLPPP

[2017-08-14 06:07] seanvree commented on #15
@jonfinley  any update on this?

[2017-08-14 16:13] jonfinley commented on #15
Done. See Ubuntu-dev https://github.com/seanvree/logarr/commit/91a426dafa6e30836bd1eb6f249f607ce3e25866

[2017-08-14 16:13] #15 closed

[2017-08-16 21:50] jonfinley opened #17 "add settings page"
Would be nice to be able to add and adjust settings on a settings page vs editing config.php

[2017-08-16 21:51] jonfinley commented on #11
added to ubuntu-develop

[2017-08-17 08:05] seanvree opened #19 "Feat: Add live time (possible)"
PHP is unable to display live time.

Would need to add additional jquery script.

Best way would be with .ajax,

ref:

https://stackoverflow.com/questions/36965948/create-php-live-clock

[2017-08-17 08:12] seanvree commented on #11
Complete.

https://github.com/seanvree/logarr/commit/fcb728b87e8a7be23975f7ffd9df95bca1cb1cd6

[2017-08-17 08:12] #11 closed

[2017-08-17 16:29] seanvree opened #20 "Feat: Add loading Indicator"
Need some type of "loading" indicator. Something simple like Organizr uses.

[2017-08-18 03:20] seanvree commented on #20
Example:

http://jsfiddle.net/onigetoc/75LJ8/

https://jsfiddle.net/MrPolywhirl/cbLsc81f/

[2017-08-18 05:01] seanvree commented on #20
Dis one:

http://talkerscode.com/webtricks/display-progress-bar-while-page-loads-using-jquery.php

[2017-08-18 13:21] seanvree commented on #20
Added to Develop

https://github.com/seanvree/logarr/commit/d94937f7d03c3e92eef01332f90c317331d51b5a

[2017-08-18 13:54] seanvree opened #21 "FEAT: Auto Populate Time Zone on windows platforms"
Issue:  Time Zone needs to be manually configured via /config/config.php on WIndows Platforms.

Suggestion:  Develop method by which Logarr can autoconfigure the localized DTG data.

Resolution:  TBD

[2017-08-18 17:32] seanvree commented on #7
after several days of emotional strife.

Essentially our search function needs to work EXACTLY like "CTRL F" does in Chrome and MOST modern browsers.  Need it to simply highlight all results of input text.

[2017-08-18 18:49] kmlucy opened #22 "FEAT: Support Docker Logs"
It would be great if Logarr could support logs from Docker containers. I was able to successfully print the logs for a container (named 'logarr' in this instance) by running:

`curl --unix-socket /var/run/docker.sock "http://localhost/v1.24/containers/logarr/logs?stdout=1"`

This is with curl, but Go and Python are both supported as well. If there were an option in the config file to set the conta

[2017-08-18 19:57] seanvree opened #23 "BUG: Display Log File Size"
Not sure if this is possible, but would be good to add a display of how large (in size) or how many lines the log file is.

[2017-08-18 20:44] kmlucy opened #24 "FEAT: Add Catagories"
If you are monitoring a lot of files, it would be great to be able to put them on different pages. For example, you could have a webserver page with Apache, PHP, NGINX, etc., a media page with Plex, Radarr, Sonarr, Ombi, etc. That way you don't have one huge page with dozens of log files.

[2017-08-18 21:59] seanvree commented on #7
initial fix committed to develop https://github.com/seanvree/logarr/commit/422acb608e482655dae2d76f93b1f19ddb239a77

[2017-08-18 22:02] seanvree commented on #24
@kmlucy  humm... This is a pretty good idea.  Maybe some type of "tabbed" function.

THX!

[2017-08-18 22:20] seanvree commented on #22
@jonfinley  - Don't you use docker?

[2017-08-18 22:58] jonfinley commented on #22
@seanvree nope, but this is good to look into.

[2017-08-19 00:01] kmlucy opened #25 "BUG: HTML in Log Files Breaks Site"
My log files for Jackett contain html, and specifically the problem is that they contain magnet links. EX:

[code]

Because of this, everything below this log file functions as the embedded link. There needs to be some way to negate any html that happens to be in the log files.

[2017-08-19 00:03] kmlucy commented on #25
Sorry, just realized this is a duplicate of #8 .

[2017-08-19 00:03] #25 closed

[2017-08-19 05:00] jonfinley commented on #20
pushed to master.

[2017-08-19 05:00] #20 closed

[2017-08-19 05:03] seanvree commented on #25
@kmlucy  -

Yeah, I can't figure out why this does this.  I know it's the markup in the actual log files.  There MAY be no way around it.  But yeah, what I've been doing is putting the offending logging application at the end of my list then when it rolls over, it obv fixes itself.

[2017-08-19 05:05] jonfinley commented on #23
`<?php echo filesize("test.txt"); ?>`

[2017-08-19 05:06] jonfinley commented on #8
I've had an nginx error pop through (sonarr crashed) but it stayed inside the wrapper. just thought I'd add

[2017-08-19 05:08] jonfinley commented on #7
pushed to master.

[2017-08-19 13:10] kmlucy commented on #8
I don't know much web development, but could you use something like this?

http://www.php.net/manual/en/function.htmlspecialchars.php

[2017-08-19 21:55] seanvree opened #26 "FEAT: Add Light Theme"
Add LIGHT theme, Dark to stay default.

P.S.  I don't want to get into theming here as this project's goal is to stay "minimal" but I think adding a LIGHT them, and Possibly one more would be beneficial.

[2017-08-19 21:57] seanvree opened #27 "BUG: Expandable DIVs will not work AFTER search is performed"
Issue:   Expandable DIVs will not work AFTER search is performed.  However, does work vice-versa. I.e  if you expand and THEN search, all is good.

[2017-08-19 22:00] seanvree opened #28 "FEAT: Add # of results from search output below search box"
Suggested feature:  Add # of results from search output below search box

[2017-08-19 22:01] seanvree opened #29 "BUG: "ENTER" key to perform search only fires once"
Issue:  User must CLICK on the search button to perform search. Enter key on keyboard will not perform search.

not sure if this is a bug or how the JS Search script is designed.

[2017-08-19 22:03] seanvree opened #30 "FEAT: Clear search results/highlighting"
Issue:  User must refresh page in order to 'clear' search results/highlighting.

Suggestion:  Implement a feature to clear search results/highlighting w/o having to refresh page.

[2017-08-19 22:03] #7 closed

[2017-08-20 04:39] seanvree commented on #29
Partially fixed see:  https://github.com/seanvree/logarr/commit/9128d0315d249c3282f22aab003b458817d4dcc2

[2017-08-20 09:28] seanvree commented on #23
@jonfinley  right,  I got the block looking like this;

[code]

But I get this in the browser.
[code]

[2017-08-20 12:59] seanvree commented on #19
Ref here:

https://stackoverflow.com/questions/36965948/create-php-live-clock

[2017-08-20 16:52] seanvree commented on #19
Added to develop with https://github.com/seanvree/logarr/commit/964ee4269a3b664d7a07ccee16d830ee53293559

[2017-08-20 16:52] #19 closed

[2017-08-20 16:53] seanvree commented on #28
Partially working with https://github.com/seanvree/logarr/commit/964ee4269a3b664d7a07ccee16d830ee53293559

[2017-08-20 16:56] seanvree commented on #23
Partially working with https://github.com/seanvree/logarr/commit/964ee4269a3b664d7a07ccee16d830ee53293559

Need conversions to KB, MB, etc.

All yours @jonfinley

[2017-08-21 06:03] seanvree opened #32 "FEAT: Searching indicator (in progress)"
Issue:  if user has a lot of logs, and triggers a search, it may take several seconds to complete, however, there is no searching indicator.

Suggestion:  Add some type of searching indicator if possible.

[2017-08-21 06:05] seanvree opened #33 "FEAT: Change auto-highlight function to red"
Suggestion:  Change auto-ERROR highlining to RED (If possible)

[2017-08-21 09:08] seanvree commented on #23
Note:  Move file path and size to top left of collapsable DIV

[2017-08-22 04:44] leram84 opened #34 "FEAT: Normalize time stamps"
set a standard format for date/time so you're not stuck with the default log format.

... then create a settings gui just so the Europeans can change it to whatever nonsense they want :)

[2017-08-22 05:28] jonfinley commented on #23
commited. https://github.com/seanvree/logarr/commit/96ba89f8512e01a1d3e35d56176d694f21749c0a

[2017-08-22 05:29] jonfinley commented on #3
commited: https://github.com/seanvree/logarr/commit/0394cf384ed467d08cb9944c0ee4bb8cf65a0058

[2017-08-22 05:29] #3 closed

[2017-08-22 05:29] #23 closed

[2017-08-22 05:30] jonfinley commented on #27
null issue. reworked divs: https://github.com/seanvree/logarr/commit/0394cf384ed467d08cb9944c0ee4bb8cf65a0058

[2017-08-22 05:30] #27 closed

[2017-08-22 05:35] seanvree commented on #34
@leram84

Unfortunately, this isn't possible.  With the way Logarr is designed, it does not edit the actual log data.  You'd have to somehow edit the DTG format within the logging application it'self.

The settings page is on the way!

[2017-08-22 05:35] #34 closed

[2017-08-22 05:50] jonfinley commented on #26
for later usage:
[code]

[2017-08-22 05:50] seanvree commented on #26
Also this code is pretty easy:

https://github.com/denysvitali/thebestmotherfuckingwebsite/issues/13

[2017-08-22 06:50] seanvree commented on #8
Def this:

http://matthewjamestaylor.com/blog/convert-special-characters-to-html-entities-between-code-tags

[2017-08-22 10:55] seanvree commented on #29
Update:  Enter is still only firing ONCE after the initial search invoke.  CLICK search works fine.

[2017-08-22 13:32] seanvree commented on #30
Fixed

[2017-08-22 13:32] #30 closed

[2017-08-22 15:00] seanvree commented on #29
Issue posted:

https://stackoverflow.com/questions/45821112/submitting-a-form-on-enter-with-jquery-only-fires-once

[2017-08-22 16:52] seanvree commented on #29
fixed. Pushed to DEV via 8039636d55a5ab3a88cb1c66b31be7e3bdb9943b

Thanks to @causefx

[2017-08-22 16:52] #29 closed

[2017-08-22 17:41] seanvree commented on #32
Main code added with 90b6942c30e376f4ff111597818a63870f73aa1a

Icon is not populating for some reason.

[2017-08-22 17:58] seanvree opened #35 "FEAT: Populate number of search results returned below search box"
Issue:  When users performs search there is no results table or .html page created after a search is performed,

Suggestion:  need some an indicator (in addition to highlighting) to show a number of search results.

[2017-08-22 21:23] seanvree commented on #28
Possible solution:  http://jsfiddle.net/wc0111aj/

[2017-08-22 22:35] seanvree commented on #35
Using this code:

HTML:  /index.php:

[code]
JS:  /jquery_search.js:
[code]

[2017-08-22 22:38] #28 closed

[2017-08-26 13:17] kmlucy opened #36 "Docker Image"
I made a basic Docker image available at [kmlucy/docker-logarr](https://github.com/kmlucy/docker-logarr). If you guys want to link to it as another way to run Logarr, you are more than welcome to.

[2017-08-26 14:58] seanvree commented on #36
@kmlucy ! Thanks brother!

hey @jonfinley  can we copy this and add it as a branch? Or what's the best way to do this?  I don't use docker.

[2017-09-07 22:18] seanvree commented on #32
Current status:

Indicator works, however, only first AFTER search is performed.

@jonfinley

[2017-09-10 19:37] si0972 opened #39 "FEAT: timestamp from when logs were grabbed."
I usualy leave a tab with logarr open, and often find myself questioning when i updated the page.

[2017-09-11 23:54] seanvree commented on #39
@si0972  humm....Yeah, I can see that.  Thanks!

[2017-09-21 23:26] seanvree opened #40 "BUG: Sonarr cloudflair"
Not sure what's causing this, but Sonarr logs are causing a cloudflair issue:
![inkedlogarrsonarr_li](https://user-images.githubusercontent.com/8906637/30723127-15d7b5ae-9eea-11e7-997c-037d24f78fc0.jpg)

[2017-09-22 22:59] saitoh183 commented on #40
same here

[2017-09-22 22:59] jonfinley commented on #40
same.

[2017-09-22 23:10] saitoh183 commented on #40
Seems clearing the Radarr and sonarr logs stops the problem

[2017-09-23 00:45] seanvree commented on #40
@saitoh183  yeah, I'll close this for now.

[2017-09-23 00:45] #40 closed

[2017-10-01 03:15] seanvree commented on #32
@jonfinley   what's this?  LOL  You have to click OK?

![logarr](https://user-images.githubusercontent.com/8906637/31051407-2222741e-a61c-11e7-8a9e-fc5a010f244e.PNG)

[2017-12-05 13:10] seanvree commented on #39
Closed - I should prob state that the logs are "grabbed" every time you hit refresh on the browser and not again UNTIL you hit refresh.  It's not a "live" application per-se.

[2017-12-05 21:35] seanvree commented on #32
Search indicator is now 75% functional.  It's still not running synchronously with the highlight function.

 The code below is VERY close.  It's a matter of ordering the lines:

REF:  https://github.com/malsup/blockui

[code]

[2017-12-06 08:14] seanvree opened #46 "test"
## Your environment:

- **Operating system**: Windows 10P x65 build: 1709

- **Webserver**:       NGIX v. 3.8

- **PHP Version**:      7.2.1 x64 NTS

- **Logarr Branch**:   Develop

## Describe your issue:

test

[2017-12-06 08:14] #46 closed

[2017-12-06 18:18] si0972 commented on #39
I know, i dont think you get me. say, i load the site 4:12, goes afk, and comeback to look at some cat pics, then i switch to the logarr tab at 4:20, wondering if i refreshed when i sat down or before i went AFK.

[2017-12-07 05:46] seanvree commented on #39
ahhhh, I see what you're saying.. Yeah, I actually like that!  Reopening.

[2017-12-08 08:42] seanvree commented on #36
@kmlucy  thanks for this buddy.

Created a branch called Docker: https://github.com/Monitorr/logarr/tree/docker

Automated build enabled on Dockerhub here:  https://hub.docker.com/r/monitorr/logarr/

[2017-12-08 08:42] #36 closed

[2017-12-08 11:55] seanvree commented on #17
Test build currently active in "settings" branch.  Having issue with PHP fwrite

[2017-12-08 17:49] seanvree commented on #35
Pending question:  https://stackoverflow.com/questions/47715633/jquery-js-count-results-within-div

[2017-12-12 06:55] seanvree commented on #35
Possible solution:  https://github.com/ractoon/jQuery-Text-Counter/issues/42

[2017-12-12 12:52] seanvree commented on #32
Questions posted

HERE:  https://zohodiscussions.com/jquery/topic/unable-to-run-blockui-asynchronously-with-other-scripts

and

HERE:  https://github.com/malsup/blockui/issues/146

[2017-12-15 14:44] seanvree commented on #35
Complete with d1d8c0d931fe910675a3c9983b192800ed8ac6e9

[2017-12-15 14:44] #35 closed

[2017-12-15 14:45] seanvree commented on #32
Complete with d1d8c0d931fe910675a3c9983b192800ed8ac6e9

[2017-12-15 14:45] #32 closed

[2018-01-01 15:22] seanvree commented on #8
@causefx

Do you have any idea how to fix this?  Weird HTML tags in the raw log files are being interpreted in the DOM making the raw text show up as HTML.

Pretty rare, but really bothersome.

[2018-01-02 10:34] si0972 opened #53 "FEAT: increase padding"
i often find myself scrolling trough logs instead of the page, so when i want the log of the bottom i start to scroll the log before the actual page. to not do this i need to move my coursor, this is fine, but i find it requireing too much effort with the smal padding.

[2018-01-02 10:47] seanvree commented on #53
got it.

[2018-01-02 11:04] seanvree commented on #53
@si0972  Thanks for the suggestion.  Just to be clear, you're talking about the space between the log frame and the actual browser window right?  Highlighted in yellow below:

![logarr](https://user-images.githubusercontent.com/8906637/34481914-987839be-ef69-11e7-8394-06f925af8c5a.PNG)

[2018-01-02 11:05] si0972 commented on #53
Yes

[2018-01-02 11:06] seanvree commented on #53
@si0972  will do, got some other stuff to add, so prob a couple days.

[2018-01-02 12:38] #26 closed

[2018-01-02 12:38] seanvree commented on #26
Meh, won't add. Dumb idea.

[2018-01-08 21:24] seanvree opened #54 "FEAT: Auto-refreshhhhhh!!!!"
**Feature**:  Auto update logs

**STATUS**: TESTING

**Current Branch**: DEVELOP

- [x] (OK) Development
- [x] (OK) Functionality
- [x] (OK) UI: Browser
- [x] (OK) Test: Windows
- [x] (OK) Test: Linux
- [x] (OK) UI Android
- [x] (OK) UI iOS
- [x] (OK) Pushed to DEV
- [x] (Pending) Merged with master
- [x] (Pending) Release published

![mon_dev](https://user-images.githubusercontent.com/8906637/346

[2018-01-08 22:03] seanvree commented on #53
Pushed to TEST branch.

[2018-01-12 07:26] seanvree commented on #54
@jonfinley  what do you think of the To-Do list?  Discuss.

[2018-01-12 20:35] seanvree opened #55 "FEAT: Add scroll to top button"
**Feature**:   Add scroll to top button

**STATUS**: Pre-dev

**Current Branch**: n/a

- [x] (pending) Development
- [x] (pending) Functionality
- [x] (pending) Test: Windows
- [x] (Pending) Test: Linux
- [x] (Pending) UI Android:  N/A
- [x] (Pending) UI iOS: N/A
- [x] (Pending) Pushed to DEV
- [ ] (Pending) Merged with master
- [ ] (Pending) Release published

[2018-01-14 05:59] seanvree opened #57 "FEAT: Use dynamic log files?"
**Issue**:  If the application does not use static file names, how do we use the "lastest" log file, i.e. application-date.txt?

**Possible solution:**

// Ombi Fix
$files = scandir('/config/logs/ombi', SCANDIR_SORT_DESCENDING);
$ombi = '/config/logs/ombi/' . $files[0];

"Ombi" => $ombi,

credit:  @Fma965

[2018-01-14 06:51] seanvree opened #58 "FEAT: Multi-wide mode!"
credit:  Fma965

Pretty dope "wide mode" using flex.

https://github.com/Monitorr/logarr/compare/master...Fma965:master

[code]

CSS:
[code]

![image](https://user-images.githubusercontent.com/8906637/34913499-4321759e-f8b4-11e7-85c9-57a69cbe4555.png)

[2018-01-14 14:04] Fma965 commented on #57
Obviously this is a really bad fix but it worked for the one app i needed it to. i wouldn't recommend using it as is

[2018-01-14 14:54] seanvree commented on #57
@Fma965  yeah, it's a hack, but this actually got me thinking...I can use this, just have to add some variables.  It's been on my to-do list, so thanks!

[2018-01-14 14:56] seanvree commented on #33
Currently in testing in TEST branch.

[2018-01-14 16:37] seanvree opened #59 "FEAT: "jump to" after search is complete"
Add "jump to" feature:

https://jsfiddle.net/julmot/973gdh8g/

[2018-01-15 08:43] seanvree commented on #58
added to test branch for testing.

https://github.com/Monitorr/logarr/tree/test

[2018-01-16 08:40] seanvree commented on #16
Added wiki. Closed.

[2018-01-16 08:40] #16 closed

[2018-01-16 16:15] seanvree commented on #33
currently in DEVELOP branch

[2018-01-16 16:16] seanvree commented on #54
currently in DEVELOP branch

[2018-01-16 16:16] seanvree commented on #53
currently in DEVELOP branch

[2018-01-16 17:14] seanvree commented on #8
Fix applied, Currently in DEVELOP branch for testing

[2018-01-17 10:16] Fma965 commented on #58
Awesome :) i'll give this a shot after work.

[2018-01-19 05:48] seanvree commented on #54
Added with version 3.1

[2018-01-19 05:48] #54 closed

[2018-01-19 05:49] seanvree commented on #53
added with version 3.1

[2018-01-19 05:49] #53 closed

[2018-01-19 05:49] seanvree commented on #8
added with v3.1

[2018-01-19 05:49] #8 closed

[2018-01-19 05:49] seanvree commented on #33
added with v 3.1

[2018-01-19 05:49] #33 closed

[2018-01-19 05:49] seanvree commented on #58
added with v 3.1

[2018-01-19 05:49] #58 closed

[2018-01-23 21:39] seanvree opened #68 "FEAT: Add file "last edited""
http://php.net/manual/en/function.filemtime.php

[2018-01-24 23:31] seanvree commented on #39
@si0972

![image](https://user-images.githubusercontent.com/8906637/35362795-b1820232-011b-11e8-979b-0cbb3b15a8b0.png)

[2018-01-25 20:51] seanvree commented on #39
pushed to develop for testing

[2018-01-25 22:10] seanvree opened #70 "FEAT: Log rolling option"
FEAT:  Log rolling option

https://linux.die.net/man/8/logrotate

[2018-01-27 13:21] seanvree opened #71 "FEAT: Version Update notification"
FEAT: Version Update notification

[2018-01-28 15:14] seanvree opened #74 "BUG: after search is performed, auto-update feature will reset results."
BUG: after search is performed, auto-update feature will reset results upon next update.

Need to trigger disable auto-update on search fire.

[2018-01-31 01:17] seanvree commented on #68
Added with version 3.6

[2018-01-31 01:17] #68 closed

[2018-01-31 01:17] seanvree commented on #39
added with version 3.6

[2018-01-31 01:17] #39 closed

[2018-01-31 01:18] seanvree commented on #55
added with version 3.6

[2018-01-31 01:18] #55 closed

[2018-02-09 17:59] seanvree opened #79 "Feat: Add "large log" notification"
Feat: Add "large log" notification when user's x log is over x size.

[2018-02-15 04:15] seanvree commented on #71
Complete with V4.1

[2018-02-15 04:15] #71 closed

[2018-04-19 15:36] seanvree opened #85 "FEAT: Add download log option"
Issue:  Add option to DL log file:

http://php.net/manual/en/function.readfile.php

[2018-05-06 02:51] peedub commented on #22
You can get the location of a container log using the following command: `docker inspect --format='{{.LogPath}}' my-container`

I was trying to figure out how to combine this with the other issue - using dynamic logs - but with no success yet.

[2018-05-06 05:52] seanvree commented on #22
@peedub  Yeah, I have an idea. I haven't been able to work on this project much lately since I've thrown all my time at Monitorr, but I have a whole bag of stuff I need to implement into the project.

[2018-05-29 08:15] seanvree opened #87 "FEAT: Add max line limit"
Feat:  Add max line limit to help with loading times

[2018-06-02 10:11] seanvree commented on #74
Nah.

[2018-06-02 10:11] #74 closed

[2018-06-02 10:11] seanvree commented on #21
Nah.

[2018-06-02 10:11] #21 closed

[2018-06-02 16:54] seanvree commented on #70
Code complete. Will push with next update.

[2018-06-02 16:54] seanvree commented on #85
code complete. Will push with next update.

[2018-06-02 16:55] seanvree commented on #87
Code complete. WIll push with next udpate.

[2018-06-03 18:57] rob1998 commented on #59
Also complete now

[2018-06-03 19:08] rob1998 opened #91 "FEAT: Automatically rolling"
Role log automatically when user's x log is over x size.

[2018-06-04 03:37] seanvree commented on #91
Yup. Good feature

[2018-06-04 03:54] seanvree commented on #22
@si0972  do you have any idea how to do this?

[2018-06-04 14:55] seanvree commented on #17
workflow moved to top comment.

[2018-06-04 16:48] rob1998 commented on #17
@jonfinley @seanvree should I add an option for live searching? So that it searches when something is being typed in the searchbox. Or do we not want it at all? (don't think performance will be very good with a lot of logs/lines....)

[2018-06-04 19:45] jonfinley commented on #17
We had initially thought od doing that, but found the performance suffered greatly.

[2018-06-05 05:43] seanvree commented on #17
@rob1998  yeah, you can test it out.  I think it will prob produce a memory leak, but you're welcome to try.  I would test with a huge ammount of logs...at least 10 logs with at least 3MB each and max limit of above 3000.

[2018-06-06 09:37] seanvree commented on #17
@rob1998 @jonfinley  I'd like to add a changelog and/or application runtime log to the info page.

There's a few repos that do this. Tested it for a min, Pretty easy, but here's the repo I like best:

https://github.com/conventional-changelog/standard-version/blob/master/CHANGELOG.md

Here's a couple others;
https://github.com/github-changelog-generator/github-changelog-generator

Here's a quick s

[2018-06-06 13:58] rob1998 commented on #17
I would do application changelog only.
Should be pretty easy to include that in the settings page, once you have it on github

[2018-06-06 14:00] rob1998 commented on #79
Yeah I would say not needed any more

[2018-06-06 23:01] rob1998 commented on #24
I've added this in, so will be in the settings update

[2018-06-08 21:47] ShoGinn opened #94 "Docker Build - Only Develop or Master"
Just wanted to see if you could add the automated docker builds for your alpha build as well?

[2018-06-08 23:37] seanvree commented on #94
@ShoGinn  we don't have plans to add it specifically to the main branch as our alpha is usually on the bleeding edge of development, however, if you want to give it a go, try the below DH image.  However, I would NOT use this on your normal logarr image.

https://hub.docker.com/r/monitorr/logarr-alpha/

[2018-06-08 23:37] #94 closed

[2018-06-08 23:38] seanvree commented on #94
also @ShoGinn  We are getting ready to push a MAJOR update to the dev branch Friday night (Seattle time) so if you can wait, that would be the best.

[2018-06-10 02:58] seanvree commented on #87
Pushed to DEVELOP.

[2018-06-10 02:58] seanvree commented on #85
Pushed to DEVELOP.

[2018-06-10 02:59] seanvree commented on #59
Pushed to DEVELOP.

[2018-06-12 11:08] seanvree commented on #87
added with v 4.5

https://github.com/Monitorr/logarr/releases

[2018-06-12 11:08] #87 closed

[2018-06-12 11:08] seanvree commented on #59
added with v 4.5

https://github.com/Monitorr/logarr/releases

[2018-06-12 11:08] #59 closed

[2018-06-12 11:09] seanvree commented on #85
added with v 4.5

https://github.com/Monitorr/logarr/releases

[2018-06-12 11:09] #85 closed

[2018-06-12 11:09] seanvree commented on #70
added with v 4.5

https://github.com/Monitorr/logarr/releases

[2018-06-12 11:09] #70 closed

[2018-06-16 10:25] seanvree opened #101 "FEAT: Add Authentication"
Feature: Add optional Authentication

[2018-06-16 14:28] rob1998 commented on #91
Developed

[2018-06-16 14:28] rob1998 commented on #57
Developed

[2018-06-16 14:33] rob1998 commented on #17
@seanvree I see you added custom error terms, do you want those to be log specific or general?
I think the easiest way to add them is to add a text field. Then separate terms by splitting everytime there's a comma in the string.

[2018-06-16 15:33] seanvree commented on #17
Humm....I would probably say just general.  For example, highlight all "Warn" occurrences in yellow, same way we do "error"

[2018-06-16 16:46] rob1998 commented on #17
Okay, yeah so also no different colors?
Different colors would again require an array, so harder to implement in the settings page
All yellow is also good I think

[2018-06-16 16:47] rob1998 commented on #17
maybe we can include a class when content is being highlighted, for example warn. That way users can change colors using custom css. I think that's possible. (Just an idea for later)

[2018-06-17 07:46] seanvree commented on #17
well, the best snecario would be something like Term: "error" color:  "Red"

[2018-06-17 11:12] rob1998 commented on #17
@seanvree yeah, but that would require an array (like the logs configuration), which doesn't look very nice in alpaca

Option 1:
I was thinking of a normal text input field where one would enter something like "error,warn,info". Then this string is being parsed by php/JS and every term is highlighted. Then the term is added as a class to each highlighted piece of text and with this you can edit th

[2018-06-17 11:28] seanvree commented on #17
@rob1998  option 3) we wouldn't have do an array if we do it for ALL logs right?

[2018-06-17 17:52] rob1998 commented on #101
developed

[2018-07-17 04:32] seanvree commented on #17
@rob1998  I"m making notes to the first comment/checklist. Feel free to edit.

[2018-07-17 09:28] rob1998 commented on #17
@seanvree
bugs:
- jump on search should be functional again, I think?

language:
it is possible to implement this, that's why I added it in. I could easily make something for that.
But again it's gonna take quite some time to implement it, basically replacing every string we have atm.

functionality:
- if you don't want a certain category you just shouldn't fill it in, when left blank there won't

[2018-07-20 07:44] seanvree commented on #17
@rob1998

- Jump on search:
I'm using chrome, and it always "jumps" despite the setting.  Shoot me your site so I can test and make sure it's not just me, also, testing on chrome, or something else?

- Language:
Are you thinking client-side type of translation which would only translate for that browser session or an actual back-end full-text php-based translation solution? If the latter which lib

[2018-07-26 19:01] rob1998 commented on #17
@seanvree
okay so quick answer (will be researching and fixing stuff you mentioned in the upcoming days):

jump on search:
I'll have to check that, might be a bug

language:
I was thinking serverside, don't really need a library for it. But I'll look into it further

categories:
looks like a good idea, although I would use checkboxes instead of toggles?

tools option:
okay

title center:
haha yeah

[2018-08-22 20:35] JigSawFr commented on #22
Great idea ! 👍

[2018-09-30 08:35] seanvree opened #108 "FEAT: Redesign tool-tips"
https://stevenbenner.github.io/jquery-powertip/

[2018-10-01 18:53] CCMurphy-dev opened #109 "Required Permissions"
## Your environment:

- **Operating system**: Lubuntu
- **Webserver**:       NGIX v. 3.8
- **PHP Version**:      7.2.1 x64 NTS
- **Logarr Branch**:   Develop

## Describe your issue:
Hello,
What permissions are needed for logarr to display the log files?
(Sorry if this has been covered already)
Cheers

[2018-10-01 23:40] seanvree commented on #109
@dragobath2

PHP just needs READ privileges at a minimum to display the log files. However, if you want to be able to "Roll" the log, PHP needs WRITE privileges as well.

[2018-10-01 23:41] #109 closed, assigned to nobody

[2018-10-10 17:12] rob1998 commented on #108
Works really easy, just used it in Monitorr, I used the cdn though: https://cdnjs.com/libraries/jquery-powertip

[2019-02-23 06:12] seanvree opened #110 "BUG: Add Error_Reporting to functions.php"
Issue:  Default PHP error_reporting values will stop scripts from running.

Add following line to `assets/config/config.php`:

`ini_set('error_reporting', E_ERROR);`

[2019-02-23 18:21] seanvree commented on #17
BUG:

add required extension:

`extension=openssl`

[2019-02-23 18:27] seanvree commented on #17
BUG add to functions.php:

`ini_set('error_reporting', E_ERROR);`

[2019-02-23 18:28] seanvree commented on #17
add to PHPinfo.php:

extension check:

- extension=openssl
- write check (https://github.com/Monitorr/Monitorr/issues/200)

[2019-02-23 18:48] seanvree commented on #17
BUG:

fix favicon.png in webmanifest.json

[2019-02-23 19:03] seanvree commented on #17
CHANGE:

- Add test log for default log

[2019-02-23 20:43] seanvree commented on #17
Add:

- BlockUI on settings change

[2019-02-23 20:57] seanvree commented on #17
BUG:

- Add login requirement for all settings pages

[2019-02-25 06:26] #101 closed, assigned to rob1998

[2019-03-04 19:20] seanvree opened #111 "FEAT: Add Unraid container"
Someone should pr the unraid template to add it
SEANVREE | Monitorr Dev, WindowsLast Tuesday at 4:25 PM
YES
for logarr?
Roxedus [NotDockerGuy]Last Tuesday at 4:26 PM
Both. So they look pretty in unraid
SEANVREE | Monitorr Dev, WindowsLast Tuesday at 4:26 PM
Yeah, I mean, I'm tracking the monitorr one works, but logarr doesn't have one
but yeah, for sure
Roxedus [NotDockerGuy]Last Tuesday at 4:26 P

[2019-03-06 04:55] seanvree commented on #108
Converted to Logarr Project

[2019-03-06 04:55] #108 closed, assigned to seanvree

[2019-03-08 13:01] vertig0ne commented on #22
https://docs.docker.com/engine/api/v1.30/#operation/ContainerLogs

[2019-03-08 21:24] seanvree commented on #22
@vertig0ne  NICE! Thanks brotha!

[2019-03-24 19:54] pathsny opened #122 "Errors in Log During update"
## Your environment:

- **Operating system**: Freenas V 11.2

- **Webserver**:       NGIX v. 3.8

- **PHP Version**:      7.2.16 x64 NTS

- **Logarr Branch**:   Master

## Describe your issue:
When I try to run an update I see errors in the log. It looks like so
Line 0 : PHP message: PHP Warning: fclose() expects parameter 1 to be resource, boolean given in /usr/local/www/logarr/assets/php/version

[2019-03-25 23:45] seanvree commented on #122
@pathsny  Can you reach that link from the same server Logarr is installed on?

https://raw.githubusercontent.com/Monitorr/logarr/master/assets/js/version/version.txt

This usually means that the server can't reach that link for whatever reason.

Let me know.

Thanks

[2019-03-25 23:54] pathsny commented on #122
Yes I can. Sorry I should have mentioned that first.

On Mon, Mar 25, 2019, 4:45 PM Sean Vreeland <notifications@github.com>
wrote:

[2019-03-25 23:57] seanvree commented on #122
@pathsny  humm. I'm not sure then. I've never seen this before.  Do you by chance have the PHP extension "openssl" installed? If NOT, install that from your php.ini file and see what happens.

[2019-03-26 02:25] pathsny commented on #122
I tried this and I don't see errors any longer, but I'm unable to figure out what log to look at to know if it suceeded. What are the log files I shoud look at other than /var/log/nginx/error.log

[2019-03-26 04:01] seanvree commented on #122
@pathsny  if the footer says 4.6m then it worked and you're on the latest version. If there's an update it will alert as so. So looks like that fixed it.

[2019-03-26 04:01] #122 closed, assigned to nobody

[2019-04-28 10:12] seanvree commented on #110
done.

[2019-04-28 10:12] #110 closed, assigned to seanvree

[2019-11-28 14:46] seanvree commented on #91
Not working in alpha, no function is associated with this option.

Option is hidden in logarr.css until bug is resolved:

[code]

[2019-12-03 22:45] seanvree opened #137 "Test"
Test

[2019-12-03 23:17] seanvree commented on #137
test #2

[2019-12-03 23:24] seanvree commented on #137
test 3

[2019-12-03 23:26] #137 closed, assigned to nobody

[2020-01-01 06:14] seanvree commented on #111
https://github.com/selfhosters/unRAID-CA-templates/blob/master/templates/logarr.xml

[2020-01-01 06:46] seanvree commented on #111
Publishing to CA:  https://forums.unraid.net/topic/57181-docker-faq/#comment-566084

[2020-01-01 17:31] seanvree commented on #111
Official Monitorr unRaid templates:

https://github.com/Monitorr/unraid-templates

[2020-01-05 03:40] seanvree opened #140 "BUG (possible): Scrolling within log containers when above 2000 lines locks up browser"
**BUG (possible): Scrolling within log containers when above ~2000 lines locks up _Chromium_ based browsers.**

- Webserver host has no effect on issue.
- FF and Edge no issues.
- Present in MASTER and ALPHA.

[2020-03-07 21:49] zetec opened #145 "Periods in Log Title cause log not to appear on index"
## Your environment:
- **Operating system**: UNRAID 6.8.2
- **Webserver**:       NGIX v. 3.8
- **PHP Version**:      7.2.1 x64 NTS
- **Logarr Branch**:   Develop
## Describe your issue:

When adding a log title with a period (.) in it, the log won't appear. I've duplicated this in Chrome and Firefox.

Javascript console shows that it thinks it's loading the log, but nothing displays. Note the cate

[2020-03-30 11:38] binyaminyblatt opened #146 "iframe messing up interface"
## Your environment:

- **Operating system**: Windows 10P x65 build: 1909

- **Webserver**:       Apache 2.0 Handler

- **PHP Version**:      7.3.4

- **Logarr Branch**:   ALPHA

## Describe your issue:

iframe messing up interface

[2020-04-21 05:23] tmchow opened #147 "Unraid Installation not using appdata folder"
## Your environment:

- **Operating system**: Unraid 6.8

- **Webserver**:       NGIX v. 3.8

- **PHP Version**:      7.2.1 x64 NTS

- **Logarr Branch**:   Develop

## Describe your issue:
I'm using the official Unraid template for installation.  The config.php isn't being read from the appdata folder that's configured as part of the xml template (which is set to `/mnt/user/appdata/logarr`).  With

[2020-05-25 23:38] mingomingo opened #148 "Dynamic paths and auto add new identical paths to logs."
## Your environment:

- **Operating system**: Windows 10P x65 build: 1709
Linux
- **Webserver**:       NGIX v. 3.8
NGINX
- **PHP Version**:      7.2.1 x64 NTS
7.2.1
- **Logarr Branch**:   Develop
Latest Docker
## Describe your issue:
Is there a way to make the paths dynamic? Where I dont need to type each new duplicate app everytime I add one?

Doing this specifically for plex, since I run a lot o

[2020-08-03 14:19] #24 closed

[2020-08-03 14:19] #22 closed

[2021-10-11 20:42] ItsRainingHP commented on #147
This is old but I am posting for users struggling with Unraid setup. The wiki is confusing and hard to understand. I am posting my settings so others can set this setup successful as it took me several hours to get working (and I find it rather annoying to have to join a discord an hope someone replies). I set up my Logarr to utilize Plex Media Server, Sonarr, Radarr, and Logarr logs successfully.